<html>
<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<form action="" method='post'>
UserName:<input type="text" id="user" name="userid">
Password:<input type="text" id="pass" name="pass">
<input type="submit" value="submit" id="submit">
</form>
<div id="div1"></div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
    $(document).ready(function(){

        $.ajax({url: "/ajax", type:"POST", success: function(result){
           // alert(result);
            $("#div1").html(result);
        }});
    });


</script>
</html>